<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ballidaku.etracking">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:name=".commonClasses.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".frontScreens.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".frontScreens.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".frontScreens.SignUpActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".mainScreens.adminScreens.activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".mainScreens.beatScreens.BeatActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>

        <!-- API key for the Android Maps API v2. The value is defined as a string resource. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".mainScreens.beatScreens.ReportedImagesActivity"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mainScreens.beatScreens.ReportedVideosActivity"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mainScreens.ProfileActivity"
            android:label=""/>
        <activity
            android:name=".mainScreens.beatScreens.ReportOffenceActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".mainScreens.beatScreens.ViewReportedOffenceActivity"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c1ebda239809615578cf710b8654d41759688dfb"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".mainScreens.beatScreens.NotificationActivity"
                  android:label=""
                  android:screenOrientation="portrait"/>

    </application>

</manifest>